@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
:root {
    --font-family: 'Montserrat Alternates', sans-serif;
    --bg-color: #69710f;
    --primary-color: #DEEEEA;
}

body {
    background: rgb(32,178,195);
    background: linear-gradient(45deg, rgba(32,178,195,1) 4%, rgba(0,146,255,1) 50%, rgba(0,129,255,1) 80%);
    color: var(--primary-color);
    text-shadow: rgb(56, 56, 56) 0.3em 0.3em 0.7em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
    margin-top: 0.5em;
}

.mensagem {
    font-size: 2em;
    margin-top: 2em;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.fa-up-long {
    font-size: 2em;
}

.fa-down-long {
    font-size: 2em;
}

.botao-jogar-novamente {
    color: #4b504f;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    margin: 2em 0;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.botao-jogar-novamente:hover {
    transition: 1s;
    transform: scale(1.1);

}